.wrapper {
    position: absolute;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.wrapper > * {
    padding: 0;
}

.main {
    flex: 1 1 100%;
    overflow: hidden;
}

.title a {
    color: white;
    text-decoration: none;
}
