<div class="wrapper">
    <header>
        <md-toolbar color="primary">
            <span class="title">Logbook {{track?.name}}</span>
            <span style="flex: 1"></span>
            <button md-raised-button color="accent" md-button [md-menu-trigger-for]="menu">Track</button>
            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="loadTrack(track)" *ngFor="let track of tracks">{{track.name}}</button>
            </md-menu>
        </md-toolbar>
    </header>
    <div class="main">
        <app-map gpx="http://pemba.hindsholm.dk/tracks/2015-07-17.gpx"></app-map>
    </div>
    <footer>
        <md-toolbar>
            <span>{{errorMessage}}</span>
            <span style="flex: 1"></span>
            <span>Built with Angular</span>
        </md-toolbar>
    </footer>
</div>
