<div class="wrapper">
    <header>
        <md-toolbar color="primary">
            <span class="title">Logbook</span>
            <span style="flex: 1"></span>
            <button md-icon-button
                    [disabled]="trackNumber <= 0"
                    (click)="previous()"><md-icon>skip_previous</md-icon></button>
            <button md-button [md-menu-trigger-for]="menu">
                {{trackNumber >= 0 ? tracks[trackNumber].name : 'Track...'}}
            </button>
            <button md-icon-button
                    [disabled]="trackNumber < 0 || trackNumber >= tracks.length - 1"
                    (click)="next()"><md-icon>skip_next</md-icon></button>
            <md-menu #menu="mdMenu" x-position="before">
                <button md-menu-item (click)="loadTrack(i)"
                        *ngFor="let track of tracks; let i = index">{{track.name}}</button>
            </md-menu>
        </md-toolbar>
    </header>
    <div class="main">
        <app-map></app-map>
    </div>
</div>
